<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">{{ title }}</h3>
            <a href="javascript:void(0)" title="Close" class="close" (click)="closeMe($event)">×</a>
        </div>
        <div class="modal-body">    
            <div class="div_buttons mb-16">
                <button class="btn" type="button" (click)="closeMe($event)">Отмена</button>
                <button class="btn" type="button" (click)="confirm($event)">Да</button>
            </div>
        </div>
        </div>
    </div>
</div>