<div class="profile-card">
    <div class="avatar-name">
        <img src="/assets/images/profile1.jpg" alt="avatar" class="avatar">
        
        <div class="name">
            <strong class="h6">Name user</strong>
            <span class="subtitle">username</span>
        </div>
    </div>

    <div class="description">
        Список навыков, который мы обсудили
    </div>

    <div class="tags">
        <div class="skill-tag">Angular</div>
        <div class="skill-tag">JavaScript</div>
        <div class="skill-tag">Html</div>
        <div class="skill-tag">Css</div>
    </div>

    <div class="action-buttons">
        <button class="btn">Подписаться</button>
    </div>
</div>
