.profile-card {
    border: 1px solid var(--light-color);
    padding: 32px 24px;
    display: grid;
    grid-template-columns: 250px 1fr 1fr 200px;
    grid-gap: 32px;
}

.avatar-name {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-gap: 20px;
}

.avatar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar-name .name {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.description {
    font-weight: 500;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    height: min-content;
}