
<div class="avatar__wrapper">
    @if (user()?.avatarUrl) {
        <div #modal></div>
        <svg class="delete-icon" icon="delete" title="Удалить аватар" (click)="createModalRemoveAvatar($event)"></svg>
    }
    <img class="avatar" [src]="preview() | imgUrl" alt="user avatar">
</div>

<div class="dropzone" 
    (keyup.enter)="fileDrop.click()" 
    appDragAndDrop
    (fileDropped)="onFileDropped($event)"
>

    <div class="dropzone-content">
        <svg class="upload-icon" icon="upload"></svg>
        <span class="medium-text">
            Перетащите изображение или загрузите
        </span> 
    </div>
    <input tabindex="-1" class="avatar-input" type="file" #fileDrop (change)="fileBrowserHandler($event)">
</div>