.settings-page__header {
    padding: 24px;
}

.settings-page__main {
    padding: 24px;
}

.settings-form__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    border: 1px solid var(--light-color);
    background: var(--dark-color);
    // height: calc(100dvh - 160px - (24px * 4));
}

.settings-form {
    display: grid;
    grid-gap: 20px;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.div-buttons {
    width: 300px;
}