@if (user$ | async; as user) {
    <header class="settings-page__header">
        <app-profile-header [user]="user"/>
    </header>

    <main class="settings-page__main">
        <form class="settings-form__wrapper" [formGroup]="form">
            <div class="settings-form">
                <div class="two-columns">                    
                    <app-input [formGroupParent]="form" controlName="firstName" labelText="Имя" />     
                    <app-input [formGroupParent]="form" controlName="lastName" labelText="Фамилия" />
                </div>
                
                <app-input [formGroupParent]="form" controlName="username" labelText="Telegram username" />
    
                <label class="form-label">
                    <span class="form-label__text regular">О себе</span>
                    <textarea formControlName="description" class="form-input medium-text form-textarea" rows="5"></textarea>
                </label>

                <label class="form-label">
                    <span class="form-label__text regular">Аватар</span>                    
                    <app-avatar-upload [avatarUrl]="user.avatarUrl | imgUrl" />
                </label>
                
                <label class="form-label">
                    <span class="form-label__text regular">Навыки (стэк)</span>
                    <input formControlName="stack" class="form-input medium-text" type="text">
                </label>
            </div>

            <div>
                <div>                    
                    <button class="btn" type="submit" (click)="onSave()">Сохранить</button>
                </div>
            </div>
        </form>  
    </main>
}